<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>TestWeb</display-name>
  <welcome-file-list>
    <welcome-file>Topology.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SDN_Servlet</servlet-name>
    <servlet-class>com.sdn.servlet.SDN_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SDN_Servlet</servlet-name>
    <url-pattern>/com.sdn.servlet/SDN_Servlet</url-pattern>
  </servlet-mapping>
</web-app>